*{
padding: 0px;
margin: 0px;
border: 0px;
}

body
{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	background-color: #282b2d;
	color: #ffffff;
	text-decoration: none;
}

#global_container
{
	position: absolute;
	height: 1900px;
	width: 800px;
	left: 50%;
  margin-top: 40px;
	margin-left: -400px;
}

#header_container
{
  background-image: url("http://verymanley.github.io/grid1.jpg");
  background-size: cover;
  position: relative;
  float: left;
	height: 400px;
	width: 800px;
  border: 1px solid #266fd2;
  box-shadow: 2px 2px 4px #000000
}


#solutions_container
{
  background-image: url("https://tctechcrunch2011.files.wordpress.com/2016/12/electron-blockchain.jpg?w=1024&h=576");
  background-size: cover;
  position: relative;
  float: left;
	height: 380px;
	width: 800px;
  margin-top: 20px;
  padding-top: 31px;
  padding-bottom: 31px;
  border: 1px solid #266fd2;
  box-shadow: 2px 2px 4px #000000
}

#software_container
{
  background-image: url("https://ak2.picdn.net/shutterstock/videos/29895532/thumb/1.jpg");
  background-size: cover;
  position: relative;
  float: left;
	height: 270px;
	width: 800px;
  margin-top: 20px;
  padding-top: 31px;
  padding-bottom: 31px;
  border: 1px solid #266fd2;
  box-shadow: 2px 2px 4px #000000
}

#software_content
{
  position: relative;
  float: left;
	height: 100%;
	width: 738px;
  margin-left: 31px;
  background-color: #282b2d;
  opacity: .9;
  border: 1px solid #266fd2;
}

#solutions_content
{
  position: relative;
  float: left;
	height: 100px;
	width: 698px;
  margin-left: 31px;
  padding: 20px;
  background-color: #282b2d;
  opacity: .9;
  border: 1px solid #266fd2;
}

#solutions_content:hover
{
	background: #232729;
}

/*---------mining begin------------*/

#mining_container
{
  background-image: url("http://verymanley.github.io/grid2.jpg");
  background-size: cover;
  position: relative;
  float: left;
	height: 250px;
	width: 800px;
  margin-top: 20px;
  padding-top: 31px;
  padding-bottom: 31px;
  border: 1px solid #266fd2;
  box-shadow: 2px 2px 4px #000000
}

#mining_a
{
  background-image: url("http://verymanley.github.io/20171006_200339.jpg");
  background-size: cover;
  position: relative;
  float: left;
	height: 100%;
	width: 352px;
  margin-bottom: 31px;
  margin-right: 0px;
  margin-left: 31px;
  background-color: #282b2d;
  opacity: .9;
  border: 1px solid #266fd2;
}

#mining_b
{
  background-image: url("http://verymanley.github.io/20171006_200738.jpg");
  background-size: cover;
  position: relative;
  float: left;
	height: 100%;
	width: 352px;
  margin-bottom: 31px;
  margin-right: 0px;
  margin-left: 31px;
  background-color: #282b2d;
  opacity: .9;
  border: 1px solid #266fd2;
}

#mining_img
{
  display: block;
  width: 100%;
  height: 100%;
}

#mining_overlay_a
{
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: #232729;
  overflow: hidden;
  height: 100%;
  width: 0;
  transition: .5s ease;
}

#mining_overlay_b
{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 100%;
  background-color: #232729;
  overflow: hidden;
  height: 100%;
  width: 0;
  transition: .5s ease;
}

#mining_a:hover #mining_overlay_a
{
  width: 100%;
  left: 0;
}

#mining_b:hover #mining_overlay_b
{
  width: 100%;
  right: 0;
}

#mining_txt
{
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#foxmine_tab
{
	position: absolute;
  top: 0;
	left: 20px;
	padding: 2px;
	border-right: 1px solid #266fd2;
	border-bottom: 1px solid #266fd2;
	border-left: 1px solid #266fd2;
	color: #ffffff;
	background: #232729;
}

/*---------mining end------------*/

/*---------dev begin------------*/


#dev_container
{
  background-image: url("https://www.bnymellon.com/us/en/_locale-assets/img/our-thinking/articles/fintechvideos-1260-410.jpg");
  background-size: cover;
  position: relative;
  float: left;
	height: 220px;
	width: 800px;
  margin-top: 20px;
  padding-top: 31px;
  padding-bottom: 31px;
  border: 1px solid #266fd2;
  box-shadow: 2px 2px 4px #000000
}

#dev_head
{
  background-image: url("https://media.licdn.com/mpr/mpr/AAEAAQAAAAAAAAW0AAAAJGYxNGI5NjNmLTY0NmEtNGU0Ny1hNzIwLTdjNThkZWQxNmFhNw.jpg");
  background-size: cover;
  position: relative;
  float: left;
	height: 10px;
	width: 120px;
  margin: 10px;
  padding: 8px;
  border: 1px solid #266fd2;
  text-align: center;
}

#dev_content
{
  position: relative;
  float: left;
	height: 100px;
	width: 136px;
  margin-bottom: 10px;
  margin-left: 10px;
  border: 1px solid #266fd2;
}

#dev_img
{
  position: relative;
  float: left;
	height: 100px;
	width: 100px;
  margin-left: 18px;
}

#social_linkedin
{
  background-image: url("http://verymanley.github.io/linkedin.png");
  background-size: cover;
  position: relative;
  float: left;
	height: 25px;
	width: 25px;
  margin-left: 26px;
}

#social_twitter
{
  background-image: url("http://verymanley.github.io/twitter.png");
  background-size: cover;
  position: relative;
  float: left;
	height: 25px;
	width: 25px;
  margin-left: 2px;
}

#social_googleplus
{
  background-image: url("http://verymanley.github.io/googleplus.png");
  background-size: cover;
  position: relative;
  float: left;
	height: 25px;
	width: 25px;
  margin-left: 2px;
}

#social_email
{
  background-image: url("http://verymanley.github.io/email.png");
  background-size: cover;
  position: relative;
  float: left;
	height: 25px;
	width: 25px;
  margin-left: 2px;
}

#dev_a
{
  position: relative;
  float: left;
	height: 100%;
	width: 160px;
  margin-bottom: 31px;
  margin-right: 0px;
  margin-left: 31px;
  background-color: #282b2d;
  opacity: .9;
  border: 1px solid #266fd2;
}

#dev_b
{
  position: relative;
  float: left;
	height: 100%;
	width: 160px;
  margin-bottom: 5px;
  margin-right: 0px;
  margin-left: 30px;
  background-color: #282b2d;
  opacity: .9;
  border: 1px solid #266fd2;
}

#dev_c
{
  position: relative;
  float: left;
	height: 100%;
	width: 160px;
  margin-bottom: 5px;
  margin-right: 0px;
  margin-left: 30px;
  background-color: #282b2d;
  opacity: .9;
  border: 1px solid #266fd2;
}

#dev_d
{
  position: relative;
  float: left;
	height: 100%;
	width: 160px;
  margin-bottom: 5px;
  margin-right: 31px;
  margin-left: 30px;
  background-color: #282b2d;
  opacity: .9;
  border: 1px solid #266fd2;
}

#dev_a:hover
{
	background: #232729;
}

#dev_b:hover
{
	background: #232729;
}

#dev_c:hover
{
	background: #232729;
}

#dev_d:hover
{
	background: #232729;
}

#dev_tab
{
	position: absolute;
  top: 0;
	left: 20px;
	padding: 2px;
	border-right: 1px solid #266fd2;
	border-bottom: 1px solid #266fd2;
	border-left: 1px solid #266fd2;
	color: #ffffff;
	background: #232729;
}

/*---------dev end------------*/

#mailto
{
	color: #ffffff;
	text-decoration: none;
	border-bottom: 1px dashed #232729;
}

#mailto:hover
{
	background-color: #266fd2;
	color: black;
}

/*---------tabs begin------------*/

#head_tab
{
	position: absolute;
  top: 0;
	right: 20px;
	padding: 2px;
	border-right: 1px solid #266fd2;
	border-bottom: 1px solid #266fd2;
	border-left: 1px solid #266fd2;
	color: #ffffff;
	background: #232729;
}

#solutions_tab
{
	position: absolute;
  top: 0;
	left: 20px;
	padding: 2px;
	border-right: 1px solid #266fd2;
	border-bottom: 1px solid #266fd2;
	border-left: 1px solid #266fd2;
	color: #ffffff;
	background: #232729;
}

#software_tab
{
	position: absolute;
  top: 0;
	left: 20px;
	padding: 2px;
	border-right: 1px solid #266fd2;
	border-bottom: 1px solid #266fd2;
	border-left: 1px solid #266fd2;
	color: #ffffff;
	background: #232729;
}

#foot_tab
{
  bottom: 0;
  position: fixed;
  overflow: hidden;
  z-index: 1;
	width: 100%;
	border-top: 1px solid #266fd2;
  height: 16px;
  margin-top: 20px;
  padding: 4px;
  background-color: #282b2d;
  opacity: .8;
  text-align: center;
}

#foot_tab:hover
{
	background: #232729;
}

/*---------tabs end------------*/

/*---------nav begin------------*/

#nav_list
{
}

#nav_container
{
  top: 0;
  position: fixed;
  overflow: hidden;
  z-index: 1;
	width: 800px;
	border: 1px solid #266fd2;
  height: 24px;
	left: 50%;
	margin-left: -400px;
  margin-bottom: 20px;
  background-color: #282b2d;
  opacity: .8;
  text-align: center;
}

#nav_container:hover
{
	background: #232729;
}

#navcontainer ul
{
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
  text-align: center;
}

#nav_container li
{
  display: inline;
}

#nav_container a
{
  display: inline-block;
	margin: 1px;
  padding-top : 4px;
  padding-bottom : 4px;
  padding-right: 10px;
	padding-left: 10px;
	width: auto;
}

#nav_container a:link,
#nav_list a:visited
{
	color: #ffffff;
	text-decoration: none;
}

#nav_container a:hover
{
	color: #f1a91f;
  background: #232729;
  border-bottom: 1px solid #266fd2;
  padding-bottom : 3px;
}
/*---------nav end------------*/
